# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*$py.class

# Virtual environments
venv/
.env/
.venv/

# SQLite database (local copy)
hospital.db

# Logs and cache
*.log
*.sqlite3
*.db-journal

# IDE & OS files
.DS_Store
.vscode/
.idea/

# Python environment / dependency tools
pip-log.txt
*.egg-info/
dist/
build/

# Render specific
.render/
